#main {  
  font-family: 'Merriweather', serif;  
  text-align: center;
  
}

#title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 0;
}

.main-h2 {  
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

#img-div {

}

#image {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
  
  
}

#img-caption {
  margin-bottom: 100px;
  font-style: italic;
}

#tribute-info {
  text-align: center;
  width: 70%;
  margin: auto;
  
}

#headline {
  text-decoration: underline;
}

#blockquote {
  font-style: italic;
  margin-top: 80px;
  margin-bottom: 80px;
}

#tribute-link {
  
}

#endquote {
  margin-bottom: 40px;
}
ul {
  text-align: left;
  line-height: 1.6rem;
}

ul li {
  list-style: none;
}